                    {% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{%  block title %}Local Library{%  endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {# <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> #}

    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}

    <!-- Add additional CSS in static file -->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    {%  load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

  <div class="container-fluid">
     <div class="row">
         <div class="col-sm-2">

             {% block sidebar %}
                 <ul class="sidebar-nav">
                   <li><a href="{% url 'index' %}">Home</a></li>
                     <li><a href="{% url 'books' %}">All books</a></li>
                     <li><a href="{% url 'authors' %}">All authors</a></li>
                     <li><hr></li>

                     {% if user.is_authenticated %}
                         <li>User: {{ user.get_username }} ({{ user.email }})</li>
                         <li><a href="{% url 'my-borrowed-books' %}">My borrowed books</a></li>
                         <li><a href="{% url 'logout' %}?next={{ request.path }}">Logout</a></li>
                         <li><hr></li>
                         {% if perms.catalog.can_mark_returned %}
                             <li>Staff/Librarians</li>
                             <li><a href="{% url 'librarian-view' %}?next={{ request.path }}">All borrowed books</a></li>
                         {% endif  %}
                     {% else %}
                         <li><a href="{% url 'login' %}?next={{ request.path }}">Login</a></li>
                     {% endif %}
                 </ul>
             {% endblock sidebar %}

         </div>

         <div class="col-sm-10">

             {% block content %}{% endblock %}


             {% block pagination %}

                 {% if is_paginated %}
                     <p> we have pagination </p>

                     <nav aria-label="page navigation example " class="ml-3 mt-3">
                         <ul class="pagination">
                             {% if page_obj.has_previous %}
                                <li class="page-item"><a href="{{ request.path }}?page=1" class="page-link">&laquo; first</a></li>
                                <li class="page-item"><a href="{{ request.path }}?page={{ page_obj.previous_page_number }}" class="page-link">previous</a></li>
                             {% endif %}
                             <li class="page-item active">
                                 <a class="page-link href="#">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }} <span class="sr-only">(current)</span></a>
                             </li>
                             {% if page_obj.has_next %}
                                 <li class="page-item"><a href="{{ request.path }}?page={{ page_obj.next_page_number }}" class="page-link">next</a></li>
                                 <li class="page-item"><a href="{{ request.path }}?page={{ page_obj.paginator.num_pages }}" class="page-link">last &raquo;</a></li>
                             {% endif %}
                         </ul>
                     </nav>

                 {% endif %}

                 {% if related_page_obj %}
                     <p> we have a related object </p>
                     {% if related_page_obj.has_other_pages %}
                         <p> we have pagination for a related object </p>

                        <nav aria-label="related page navigation example " class="ml-3 mt-3">

                         <ul class="pagination">
                            {% if related_page_obj.has_previous %}
                                <li class="page-item">
                                     <a class="page-link" href="?ro_page={{ related_page_obj.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">
                                         <i class="fa fa-chevron-left" aria-hidden="true"></i>
                                     </a>
                                </li>
                                <li class="page-item"><a href="{{ request.path }}?ro_page=1" class="page-link">&laquo; first</a></li>
                                <li class="page-item"><a href="{{ request.path }}?ro_page={{ related_page_obj.previous_page_number }}" class="page-link">previous</a></li>
                            {% else %}
                                <li class="page-item active disabled"><a href="#!" class="page-link"><i class="fa fa-chevron-left" aria-hidden="true"></i></a></li>
                            {% endif %}
                            {% for num in related_page_obj.paginator.page_range %}
                                {% if related_page_obj.number == num %}
                                    <li class="page-item active"><a href="#!" class="page-link">{{ num }}</a></li>
                                {% else %}
                                    <li class="page-item">
                                        <a class="page-link" href="?ro_page={{ num }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">{{ num }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                            {% if related_page_obj.has_next %}
                             <li class="page-item"><a href="{{ request.path }}?ro_page={{ related_page_obj.next_page_number }}" class="page-link">next</a></li>
                             <li class="page-item"><a href="{{ request.path }}?ro_page={{ related_page_obj.paginator.num_pages }}" class="page-link">last &raquo;</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="?ro_page={{ related_page_obj.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">
                                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                    </a>
                                </li>
                            {% else %}
                                <li class="page-item active disabled"><a href="#!" class="page-link"><i class="fa fa-chevron-right" aria-hidden="true"></i></a></li>
                            {% endif %}
                         </ul>
                        </nav>

                     {% endif %}

                 {% endif %}


             {% endblock %}

             <p class="mt-5">
                 {% if perms.catalog %}
                     {{ perms.catalog  }}
                     {% if perms.catalog.can_mark_returned %}
                         <!-- we can mark a BookInstance as returned -->
                         <!-- Perhaps add code link to 'book return' view here. -->
                         <p>perms.catalog.can_mark_returned</p>
                     {% endif  %}
                 {% endif %}
             </p>

         </div>
     </div>
  </div>

</body>
</html>