{% extends "base_generic.html" %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="container mt-3">
    <div class="card" style="width:38rem;">
    <div class="card-header">
        Add author
        <a href="{% url 'authors' %}" class="btn btn-primary float-right" role="button">List</a>
    </div>
        <div class="card-body">
    <form action="" method="post" novalidate>
        {% csrf_token %}
            {{ form|crispy }}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
        </div>
    </div>

    </div>

{% endblock %}