{% extends 'base_generic.html' %}

{% block content %}
    <div class="container-fluid mt-3">
    <div class="card" style="width:40rem;">
        <div class="card-header">
            <strong>Author: </strong> {{ author.first_name }} {{ author.last_name }}
        </div>
        <div class="card-body">
            <div class="card-title">
                <p><strong>Date of birth:</strong> {{ author.date_of_birth }}</p> <!-- author detail link not yet defined -->
            </div>
            <div class="card-title">
                <p><strong>Died:</strong> {% if author.date_of_death %}{{ author.date_of_death }}{% else %}-{% endif %}</p>
            </div>
        </div>

        <div class="card-body">
            Books
            <a href="{% url 'author-book-add' author.pk %}" class="btn btn-primary btn-sm float-right"  role="button">Add book <i class="fa fa-plus-square-o"></i></a>


            <div class="row mt-3">
                <div class="col-sm-12  ">
            {% for book in author.book_set.all %}
                <hr>
                <p class="card-text"><strong><a href="{% url 'book-detail' book.pk %}">{{ book.title }} #{{ book.get_available_copies.count }}</a></strong> ({{ book.bookinstance_set.all.count }})</p>
                <p class="text-muted">{{ book.summary }}</p>
            {% empty %}
                <p>No books published by this author</p>
            {% endfor %}
                </div>
            </div>

        </div>

    </div>
    </div>

{% endblock %}