        {% extends 'base_generic.html' %}

{% block title %}My Books{% endblock %}

{% block content %}

    <div class="container mt-3">
    <div class="card" style="width:38rem;">
        <div class="card-header">
            Book list
            <a href="{% url 'book-create' %}" class="btn btn-primary float-right" role="button">Add book</a>
        </div>
        <div class="card-body">
        {% if book_list %}
            <table class="table">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Author</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for book in book_list %}
                    <tr>
                        <td>
                        <a href="{{  book.get_absolute_url }}">{{ book.title }}</a>
                        </td>

                        <td>{{ book.author }}</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Book Btn List">
                                <a class="btn btn-secondary" href="{% url 'book-update' book.pk %}" role="button">Edit</a>
                                <a class="btn btn-danger" href="{% url 'book-delete' book.pk %}" role="button">Delete</a>
                            </div>
                         </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>

        {% else %}
            <p>There are no books in the library.</p>
        {% endif %}
        </div>
    </div>
    </div>
{% endblock %}