                                {% extends 'base_generic.html' %}

{% block content %}

    <div class="container-fluid mt-3">

    <div class="card" style="width: 50rem;">

        <div class="card-header">
            <h5 class="card-title">Detail of book: "{{ book.title }}"</h5>
        </div>
        <div class="card-body">

            <p><strong>Author:</strong> <a href="{% url 'author-detail' book.author.pk %}">{{ book.author }}</a></p> <!-- author detail link not yet defined -->
            <p><strong>Summary:</strong> {{ book.summary }}</p>
            <p><strong>ISBN:</strong> {{ book.isbn }}</p>
            <p><strong>Language:</strong> {{ book.language }}</p>
            <p><strong>Genre:</strong>
                {% for genre in book.genre.all %}
                    {{ genre }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </p>
        </div>

        {% include 'catalog/book_copies.html' %}

    </div>
    </div>

    {# {{ related_page_obj.object_list }} #}

{% endblock %}