{% extends 'base_generic.html' %}

{% load crispy_forms_tags %}

{% block title %}My Books{% endblock %}

{% block content %}

    <div class="container-fluid mt-3">
    <div class="card" style="width:38rem;">
        <div class="card-header">
            Book list
            {% if 'add_book' in user_permissions %}
            <a href="{% url 'book-create' %}" class="btn btn-primary btn-sm float-right" role="button">Add book
                <i class="fa fa-plus-square" aria-hidden="true"></i>
            </a>
            {% endif %}
        </div>
        <div class="card-body">
        {% if book_list %}
            <table class="table">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Author</th>
                        {% if 'change_book' in user_permissions or 'delete_book' in user_permissions %}
                        <th>Actions</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                {% for book in book_list %}
                    <tr>
                        <td>
                        <a href="{{  book.get_absolute_url }}">{{ book.title }}</a>
                        </td>

                        <td>{{ book.author }}</td>

                        {% if 'change_book' in user_permissions or 'delete_book' in user_permissions %}
                        <td>
                            <div class="btn-group" role="group" aria-label="Book Btn List">
                                {% if 'change_book' in user_permissions %}
                                <a class="btn btn-secondary btn-sm" href="{% url 'book-update' book.pk %}" role="button">Edit
                                     <i class="fa fa-pencil-square-o"></i>
                                </a>
                                {% endif %}

                                {% if 'delete_book' in user_permissions %}
                                <a class="btn btn-danger btn-sm" href="{% url 'book-delete' book.pk %}" role="button">Delete
                                    <i class="fa fa-trash-o"></i>
                                </a>
                                {% endif %}
                            </div>
                         </td>
                        {% endif %}


                    </tr>
                {% endfor %}

                </tbody>
            </table>

        {% else %}
            <p>There are no books in the library.</p>
        {% endif %}
        </div>
    </div>
    </div>
{% endblock %}